<nav class="navbar navbar-expand-lg navbar-light py-0">
    <div class="container py-lg-8 py-4 border-bottom border-neutral-300">
        <a class="navbar-brand me-6" href="./index.html">
            <img src="../assets/images/logo.png" alt="logo" class="logo" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarSupportedContent"
        >
            <form class="d-flex position-relative">
                <input
                    class="form-control me-2 rounded-pill py-1 pe-6"
                    type="search"
                    placeholder="搜尋文章"
                    aria-label="Search"

                />
                <a
                    href="#"
                    class="position-absolute end-0 top-50 translate-middle d-flex align-items-center pe-1"
                >
                    <span class="material-symbols-outlined text-success">
                        search
                    </span>
                </a>
            </form>
            <ul class="navbar-nav my-2 mb-lg-0 gap-4 mt-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="test.html"
                        >所有文章</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">訂閱方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">關於我們</a>
                </li>
                <li class="nav-item">
                    <a
                    href="signup.html"
                        class="py-1 btn btn-accent-200 rounded-pill text-neutral-white w-100"
                        >登入 / 註冊</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
